* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
  font-family: "Mulish", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
nav {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}
label.logo-text {
  color: #131318;
  font-size: 35px;
  line-height: 80px;
  cursor: pointer;
  font-weight: bold;
}
.color {
  color: #ff5400;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  color: #ff5400;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.header-banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 90vh;
  background-size: cover;
  border-radius: 16px;
  position: relative;
  color: white;
}
.header-bottom {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}
.header-bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.input {
  border-radius: 8px;
  background: #fff;
  border: none;
  outline: node;
  padding: 10px 16px;
  box-shadow: none;
}
.input-box {
  background-color: white;
  border-radius: 5px;
  padding: 5px 0px;
}
input:focus {
  outline: none;
}
.btn-search {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}
.header-banner--text {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-banner--title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-banner--details {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 992px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
